<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <inviqa_sitemapshreflang>
            <general>
                <path>media</path>
                <newpath>media</newpath>
                <name>indexSitemap</name>
            </general>
        </inviqa_sitemapshreflang>
    </default>
</config>
